# Energy Consumption in Household Data

In der Haushaltssimulation wird "grid_import" als der Energiekonsum verwendet. Dabei ergeben sich jedoch ungereimtheiten durch die Tabellenspalte "grid_export" und "pv" bei den Prosumern 4 und 6.
In test.csv ist das ergebnis der Query über die ersten 400 Einträge von prosumer 6. gi = grid_import, ge = grid_export.

[Link zum Datensatz](https://data.open-power-system-data.org/household_data/2020-04-15)

In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("test.csv")

In [3]:
d

                      utc           gi         ge           pv
0    2016-05-13T13:30:00Z  3104.224414   0.110000  3139.585693
1    2016-05-13T13:45:00Z  3104.224414   0.400000  3140.060303
2    2016-05-13T14:00:00Z  3104.224414   0.700000  3140.615967
3    2016-05-13T14:15:00Z  3104.224414   0.935000  3141.055420
4    2016-05-13T14:30:00Z  3104.224414   1.030000  3141.320557
..                    ...          ...        ...          ...
395  2016-05-17T16:15:00Z  3130.314412  52.385000  3251.995850
396  2016-05-17T16:30:00Z  3130.324414  52.460001  3252.640869
397  2016-05-17T16:45:00Z  3130.324414  52.530001  3253.265381
398  2016-05-17T17:00:00Z  3130.349414  52.550001  3253.725830
399  2016-05-17T17:15:00Z  3130.469415  52.550001  3253.875732

[400 rows x 4 columns]

In [5]:
d2 = (d[['gi', 'ge', 'pv']] - d[['gi', 'ge', 'pv']].shift(1))
d2

           gi        ge        pv
0         NaN       NaN       NaN
1    0.000000  0.290000  0.474609
2    0.000000  0.300000  0.555664
3    0.000000  0.235000  0.439453
4    0.000000  0.095000  0.265137
..        ...       ...       ...
395  0.000000  0.160000  0.895020
396  0.010002  0.075001  0.645020
397  0.000000  0.070000  0.624512
398  0.025000  0.020000  0.460449
399  0.120001  0.000000  0.149902

[400 rows x 3 columns]

In [6]:
d2.dropna(axis=0)

           gi        ge        pv
1    0.000000  0.290000  0.474609
2    0.000000  0.300000  0.555664
3    0.000000  0.235000  0.439453
4    0.000000  0.095000  0.265137
5    0.000000  0.155000  0.305176
..        ...       ...       ...
395  0.000000  0.160000  0.895020
396  0.010002  0.075001  0.645020
397  0.000000  0.070000  0.624512
398  0.025000  0.020000  0.460449
399  0.120001  0.000000  0.149902

[399 rows x 3 columns]

In [8]:
d2.corr()

          gi        ge        pv
gi  1.000000 -0.466868 -0.456291
ge -0.466868  1.000000  0.915040
pv -0.456291  0.915040  1.000000

In [10]:
d2['possible_energy_usage'] = d2["gi"] + (d2['pv'] - d2['ge'])

In [11]:
possible_eu = (d2['possible_energy_usage']< 0)

In [12]:
(possible_eu >= 0).all()

True

In [13]:
(possible_eu < 0).any()

False

Ich vermute, dass sich der tatsächliche Energiekonsum aus grid_import + pv - grid_export ergibt.